@tailwind base;
@tailwind components;
@tailwind utilities;

/* If you want to keep some of your custom styles, add them below the Tailwind directives */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}